<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cammy Cab</title>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- done extra -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> <!-- done -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- done -->
    <script src="http://lab.mattvarone.com/projects/jquery/totop/js/jquery.ui.totop.js"></script>   <!-- done -->


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- done -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown_style.css') }}"> <!-- done -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}"> <!-- done -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">    <!-- done -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wickedpicker.css') }}">   <!-- done -->
    <!-- <link rel="stylesheet" href="css/fontawesome-all.css"> -->

    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body onload="load_preloader()">
    <div id="load"></div>
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="mt-2 text-left log-icons mx-auto">
            <p class="py-2"><i class="fa fa-phone" style="color: #ffc107;"></i><b> Call for Support : (+91) 8488 886 344 </p></b>
        </div>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mx-auto mb-2 mb-lg-0 logo">
                <a class="navbar-brand" href="/">
                    <i class="fa fa-taxi" style="color: #ffc107;"></i><b style="color: #343a40;">CAMMY CAB</b></a>
            </div>
            <div class="d-flex">
                {% if current_user.is_authenticated %}
                    <div class="nav-item dropdown custom-dropdown mx-auto" style="margin-right: 70px; background-color: #ffc107; border-radius: 5px;">
                        <a class="nav-link dropdown-toggle login-borders text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-lock" style="font-size:17px;"></i>&nbsp
                            <b> Welcome, {{current_user.fname}}</b>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/driver/editprofile">
                                <i class="fa fa-user" style="font-size:17px;"></i>&nbsp
                                <span>Edit Profile</span> </a>
                                <a class="dropdown-item" href="/driver/logout">
                                <i class="fa fa-sign-out" style="font-size:14px"></i>&nbsp
                                <span>Logout</span> </a>
                            </ul>
                    </div> &nbsp  &nbsp
                {% else %}
                    <!-- Dropdown 1 -->
                    <div class="nav-item dropdown custom-dropdown mx-auto" style="margin-right: 70px;">
                        <a class="nav-link dropdown-toggle login-borders" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-lock" style="font-size:17px;"></i>&nbsp
                            Sign in
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/user/login">
                                <i class="fa fa-user" style="font-size:17px;"></i>&nbsp
                                <span>As Rider</span> </a>
                                <a class="dropdown-item" href="/driver/login">
                                <i class="fa fa-car" style="font-size:14px"></i>&nbsp
                                <span>As Driver</span> </a>
                            </ul>
                    </div> &nbsp  &nbsp
                    <!-- Dropdown 2 -->
                    <div class="nav-item dropdown custom-dropdown" style="margin-right: 70px;">
                        <a class="nav-link dropdown-toggle login-borders" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>&nbsp
                            Register
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2" >
                            <a class="dropdown-item" href="/user/register1">
                            <i class="fa fa-user" style="font-size:17px;"></i>&nbsp
                            <span>As Rider</span> </a>
                            <a class="dropdown-item" href="/driver/register">
                            <i class="fa fa-car" style="font-size:14px"></i>&nbsp
                            <span>As Driver</span> </a>
                        </div>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</nav>
<!-- /NavBar -->

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent3" >
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link ml-lg-0" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/booking">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/about">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- /Header -->

{% block header %}

{% endblock %}

{% block content %}

{% endblock %}

<!--footer-->
<footer class="py-sm-5 py-4 px-md-5 px-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-sm-4 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-center">
				<h3 class="mb-sm-5 mb-4 mt-sm-0 mt-4">About Company</h3>	
				<p>The Cammy Cab offers the safest and easiest way to ride, with multiple travel options and well-protected rides. </p>
				<a href="/user/about" class="read">Know More <i class="fa fa-caret-right"></i></a>
			</div>
            
			<div class="col-lg-4 col-sm-4 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-center">
				<h3 class="mb-sm-5 mb-4">Locate Us</h3>	
				<ul class="w3ls-footer-bottom-list">
					<li> <span class="fa fa-map-marker"></span> 402, Shakti-Suman Flats, Gujarat, India </li>
					<li> <span class="fa fa-envelope"></span> <a href="mailto:info@cammy.com"> info@cammy.com</a> </li>
					<li> <span class="fa fa-phone"></span> (+91)8488886344 </li>
					<!-- <li> <span class="fa fa-globe"></span> <a href="#"> www.cammy.com</a> </li>
					<li> <span class="fa fa-clock"></span> Office Time  : 8:00 a.m - 6:00 p.m</li> -->
				</ul>
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 col-sm-4 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-center">
				<!-- //subscribe -->
				<div class="footer social">
					<!--div class="copyrighttop"-->
						<h3 class="mb-sm-5 mb-4">Stay In Touch</h3>
						<ul class="w3ls-footer-bottom-list">
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fa fa-facebook-f"></i>									
								</a>
                            </li>
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>

					<!--/div-->
				</div>
			</div>
		</div>
		<!-- copyright -->
		<div class="footer-cpy text-center pt-sm-5 mt-sm-5 mt-4 pt-3">
			<div class="w3layouts-agile-copyrightbottom">
				<p>© 2022 Cammy Cab. All Rights Reserved | Design by
					<a href="/">Cammy Group of Technology</a>
				</p>
			</div>
		</div>
		<!-- //copyright -->
	</div>
</footer>
<!-- //footer -->

<!-- JS Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                900: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: false,
                    margin: 20
                }
            }
        })
    })
</script>
	<!-- //carousel -->

	<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	<script>
		var preloader = document.getElementById('load')

		function load_preloader(){
			preloader.style.display = 'none';
		}
	</script>
</body>
</html>