{% extends 'user/master.html' %}
	{% block header %}
	<div style="height: 90px; background-color: #252525;">
	</div>
	{% endblock %}

	{% block content %}
		<div class="row">
			<div class="col-lg-3" style=" height: 830px; margin-top: 2px;" style="padding-right: 0;">
				<div class="card text-white mb-3s" style="width: 100%; height: 100%; border-radius: 0;">
					<div class="card-body">
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
							  <h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									<i class="fa fa-home" aria-hidden="true"></i>&nbsp &nbsp Choose From a Saved Trip
								</button>
							  </h2>
							  <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body text-dark">
									<a href="">1. Home</a> 
								</div>
							  </div>
							</div> 
							<hr style="color: #252525;">
							<div class="accordion-item">
							  <h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
									<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp &nbsp Enter New Location
								</button>
							  </h2>
							  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
								<div class="accordion-body text-dark">
									<h5 class="card-title">Enter Origin and Destination</h5>
									<form id="send_location_info" class="mt-4" action="" method="POST">
										<div class="form-group">
										<!-- Assigning value to the input field using the object sent from the view definition -->
										<input required type="text" class="form-control" value="{% if name %} {{name[0]}} {% endif %}" id="origin" placeholder="Origin">
										</div><br>
										<div class="form-group">
										<!-- Assigning value to the input field using the object sent from the view definition -->
										<input required type="text" class="form-control" value="{% if name %} {{name[1]}} {% endif %}" id="destination" placeholder="Destination">
										</div><br>
										<!-- The type of input field is set to "hidden" because they are used only for sending data to backend using JavaScript-->
										<input type="hidden" id="origin_lat" name="origin_lat" value="">
										<input type="hidden" id="origin_lng" name="origin_lat" value="">
										<input type="hidden" id="destination_lat" name="origin_lat" value="">
										<input type="hidden" id="destination_lng" name="origin_lat" value="">
										<!-- <input type="text" name="test" id="test" value=""> -->
											<!--  -->
 									</form>
									 <div class="form-group">
										<button  onclick="getDirections()" type="text" class=" form-control btn btn-warning text-white btn-sm"><b>Confirm</b></button>
									</div>
									<form id="send_address" class="mt-4" action="" method="POST">
										<p>Enter Your Complete Address</hp><br> <br>
										<div class="form-group">
											<input required type="text" class="form-control" id="floor" placeholder="HOUSE / FLAT / BLOCK NO.">
										</div><br>
										<div class="form-group">
											<input required type="text" class="form-control" id="floor" placeholder="APARTMENT / COMPLEX NAME">
										</div><br>
										<div class="form-group">
											<input required type="text" class="form-control" id="floor" placeholder="LANDMARK">
										</div><br>
										<div class="form-group">
											<input required type="text" class="form-control" id="floor" placeholder="ZIPCODE">
										</div><br>
										<div class="form-group">
											<button type="submit" class=" form-control btn btn-primary text-white"><b>Click to View Rides</b></button>
										</div>
									</form>
								  </div>
								</div>
							  </div>
							</div>
						</div>
						
					</div>
			</div>
			<div class="col-lg-9" style="padding-left: 0; margin-top: 2px;">
				<!-- <h2 class="border rounded text-center" style="padding: 20px;margin-top: 0px;">
					<i class="fa fa-cab" style="float: left;" aria-hidden="true"></i>
					<solid style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">RIDE DETAILS</solid> </h2>
				  <br> -->
			   <div class="row justify-content-center">
				  <div class="col-lg-12">
					 <div class="border rounded" id ="map" style="height: 800px;">

					  </div>
				  </div>
			   </div>
			 </div>
		</div>
	</div>
    
	<!-- Google Maps Javascript API to get suggestions and collect location from user. -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdQ3Jx0mPk6J9vNVdKN-tSDCM5eYk9abs&libraries=places"></script>
  	<script src="{{ url_for('static', filename='js/map.js') }}"></script>
	<!-- js-scripts -->		
	{% endblock %}