{% extends 'master.html' %}
    {% block content %}
    
    <section class="bookingform py-5">
        <div class="container py-md-5 py-3">
            <h1 class="heading text-capitalize text-center">Update your account</h1>
            <h5 class="heading mb-5 text-center">Cammy Cab</h5>
            <div class="row justify-content-center" role="document">
                <div class="col-lg-6">
                    <div class="modal-header">
                        <h5>Please Enter</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/update/{{current_user.id}}" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" value="{{current_user.fname}}" name="fname" id="recipient-fname" required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" value="{{current_user.lname}}" name="lname" id="recipient-lname" required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-email" class="col-form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email" value="{{current_user.email}}" name="email" id="recipient-email" required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-email" class="col-form-label">Contact</label>
                                <input type="tel" class="form-control" pattern="[0-9]{10}" placeholder="Contact" value="{{current_user.contact}}" name="contact" id="recipient-contact" required oninvalid="this.setCustomValidity('Enter 10 digit number')" oninput="this.setCustomValidity('')">
                            </div>
                            <div class="sub-w3l">
                                <div class="sub-agile" style="color: white;">
                                    <label for="password2" class="col-form-label"><a href="/editpass">Change password</a></label>
                                </div>
                            </div> <br>
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>        
        </div>
    </section>

    {% endblock %}