{% extends 'user/master.html' %}

    {% block header %}
    <div style="height: 90px; background-color: #252525;"></div>
    {% endblock %}

    {% block content %}
    <section class="bookingform py-5"> <!-- style="min-height:100%; background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); background-size:cover;" -->
        <div class="container py-md-5 py-3">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row justify-content-center" role="document">
                <div class="col-lg-6">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item" aria-current="page"><a href="/"> Home </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rider Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <h1 class="heading text-capitalize text-center">Sign In to your account</h1>
            <h5 class="heading mb-5 text-center">Cammy Cab</h5>
            
            <div class="row  justify-content-center" role="document">
                <div class="col-lg-5">
                    <div class="modal-header text-center">
                        <h5 class="w-100">Please Enter Your Credentials</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/user/login" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Email-Id</label>
                                <input type="text" class="form-control" placeholder="Email-Id" name="email" id="recipient-name" required="">
                            </div><br>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required="">
                            </div>
                            <div class="row sub-w3l my-3">
                                <div class="col sub-agile">
                                    <a href="#" style="color: white;">Forgot Password?</a>
                                </div>
                            </div> <br>
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Sign In">
                            </div>
                            <p class="text-center dont-do text-white mt-3">Don't have an account?
                                <a href="/user/register1" style="color: white;">
                                    Register Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}