<!DOCTYPE html>
<html lang="en">
<head>
<title>Cammy Cab</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

    <link href="{{ url_for('static', filename='css/wickedpicker.css') }}" rel="stylesheet" type='text/css' media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}" type="text/css" media="all" >

	<!-- css files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--/banner-->
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-6 log-icons mt-2 text-left">
				<p class="py-2"><i class="fas fa-phone"></i><b> Call for Support : (+91) 8488 886 344 </p></b>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-6 logo">
				<a class="navbar-brand" href="/">
					<i class="fas fa-taxi"></i> Cammy Cab</a>
			</div>
			
				{% if current_user.is_authenticated %}
					{% if current_user.fname|length > 12 %}
					<div class="row col-lg-4 col-md-3 top-forms mt-md-2">
						<div class="col-lg-2 col-md-4">

						</div>
						<div class="col-lg-10 col-md-4 text-left">
							<span class="nav-item dropdown">
								<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<i class="fa fa-lg fa-user"></i>  &nbsp
									<b>Welcome, {{current_user.fname}}</b>&nbsp &nbsp
									<i class="fa fa-angle-down" style="color: black;" aria-hidden="true"></i>
								</a>
								<span class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-left" href="/user/editprofile">
										<i class="fa fa-cog"></i> &nbsp 
										<b> Edit Profile</a></b>
									<a class="dropdown-item text-left" href="/user/logout">
										<i class="fa fa-sign-out-alt"></i> &nbsp
										<b> Logout</a></b>
								</span>
							</span>
						</div>
					</div>
					{% else %}
					<div class="row col-lg-4 col-md-3 top-forms mt-md-2">
						<div class="col-lg-4 col-md-4">

						</div>
						<div class="col-lg-8 col-md-4 text-left">
							<span class="nav-item dropdown">
								<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<i class="fa fa-lg fa-user"></i>  &nbsp
									<b>Welcome, {{current_user.fname}}</b>&nbsp &nbsp
									<i class="fa fa-angle-down" style="color: black;" aria-hidden="true"></i>
								</a>
								<span class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-left" href="/user/editprofile">
										<i class="fa fa-cog"></i> &nbsp 
										<b> Edit Profile</a></b>
									<a class="dropdown-item text-left" href="/user/logout">
										<i class="fa fa-sign-out-alt"></i> &nbsp
										<b> Logout</a></b>
								</span>
							</span>
						</div>
					</div>
					{% endif %}
				{% else %}
				<div class="row col-lg-4 col-md-4 mt-md-2 top-forms ">
					<div class="col-lg-6 col-md-4">
						<span class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> 
								<i class="fa fa-lg fa-lock"></i>  &nbsp
								<b>Sign In</b>&nbsp &nbsp
								<i class="fa fa-angle-down" style="color: black;" aria-hidden="true"></i>
							</a>
							<span class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-left" href="/user/login">
									<i class="fa fa-lock"></i> &nbsp 
									<b> Sign In To Ride</a></b>
								<a class="dropdown-item text-left" href="/driver/login">
									<i class="fa fa-lock"></i> &nbsp
									<b> Sign In To Drive</a></b>
							</span>
						</span>
					</div>
					<div class="col-lg-6 col-md-4">
						<span class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> 
								<i class="fa fa-lg fa-user"></i>  &nbsp
								<b>Register</b>&nbsp &nbsp
								<i class="fa fa-angle-down" style="color: black;" aria-hidden="true"></i>
							</a>
							<span class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-left" href="/user/register">
									<i class="fa fa-user"></i> &nbsp 
									<b> Register To Ride</a></b>
								<a class="dropdown-item text-left" href="/driver/register">
									<i class="fa fa-user"></i> &nbsp
									<b> Register To Drive</a></b>
							</span>
						</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="banner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link ml-lg-0" href="/">Home
								<!--span class="sr-only">(current)</span-->
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/booking">Booking</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/contact">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/about">About Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner-text -->
        {% block header %}

        {% endblock %}
	</div>
	<!-- //banner -->

{% block content %}

{% endblock %}

<!--footer-->
<footer class="py-sm-5 py-4 px-md-5 px-3">
	<div class="container-fluid pt-lg-5">
		<div class="row">
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
				<h3 class="mb-sm-5 mb-4 mt-sm-0 mt-4">About Company</h3>	
				<p>The Cammy Cab offers the safest and easiest way to ride, with multiple travel options and well-protected rides. With more than 3,00,000 vehicles in 100+ cities including Bangalore, Chennai, Delhi, Mumbai, Hyderabad, Kolkata, and Pune, Cammy is the most popular ride hailing service in India.</p>
				<a href="/user/about" class="read">Know More <i class="fas fa-caret-right"></i></a>
			</div>
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
				<h3 class="mb-sm-5 mb-4">Locate Us</h3>	
				<ul class="w3ls-footer-bottom-list">
					<li> <span class="fas fa-map-marker"></span> 402 Shakti-Suman Flats,<span> Gujarat, India </span></li>
					<li> <span class="fas fa-envelope"></span> <a href="mailto:name@example.com"> info@cammy.com</a> </li>
					<li> <span class="fas fa-phone"></span> (+91)8488886344 </li>
					<li> <span class="fas fa-globe"></span> <a href="#"> www.cammy.com</a> </li>
					<li> <span class="fas fa-clock"></span> Office Time  : 8:00 a.m - 6:00 p.m</li>
				</ul>
			</div>
			<!-- subscribe -->
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
				<!-- //subscribe -->
				<div class="footer-social">
					<!--div class="copyrighttop"-->
						<h3 class="mb-sm-5 mb-4">Stay In Touch</h3>
						<ul class="w3ls-footer-bottom-list">
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>									
								</a>
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
							<li class="mr-1">
								<a class="facebook" href="#">
									<i class="fab fa-pinterest-p"></i>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>

					<!--/div-->
				</div>
			</div>
		</div>
		<!-- copyright -->
		<div class="footer-cpy text-center pt-sm-5 mt-sm-5 mt-4 pt-3">
			<div class="w3layouts-agile-copyrightbottom">
				<p>© 2022 Cammy Cab. All Rights Reserved | Design by
					<a href="/">Cammy Group of Technology</a>
				</p>
			</div>
		</div>
		<!-- //copyright -->
	</div>
</footer>
<!-- //footer -->

<!-- js-scripts -->		

	<!-- js -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>  -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- //js -->
	
	<!-- carousel -->
	<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--slider-->
	<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>
	<script>
		$(function () {
			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "centered-btns"
			});
		});
	</script>
	<!--//slider-->

	<!-- start-smoth-scrolling -->
	<script src="{{ url_for('static', filename='js/SmoothScroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>