{% extends 'user/bookride.html' %}
    {% block content %}
    <div class="col-lg-9">
      <h2 class="border border-warning rounded mt-1 bg-dark text-white text-center" style="padding: 20px;">Ride Details 
        <span style="float:left" class="fas fa-taxi"></span>
      </h2>
        <br>
      <div class="row">
        <div class="col-lg-12">
          <div id ="map2" style="height: 680px;">
           </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block jsForMaps %}
    <script src="{{ url_for('static', filename='js/map2.js') }}"></script>
    {% endblock %}